conf/config.dtd

<!ELEMENT config (broker,logfiles)>
<!ELEMENT broker (#PCDATA)>
<!ATTLIST broker
  host	CDATA #REQUIRED
  port	CDATA "6379"
  db	CDATA "0"
  key	CDATA "logstash-http"
>
<!ELEMENT logfiles (logfile+)>
<!ELEMENT logfile (#PCDATA)>
<!ATTLIST logfile 
  vhost  CDATA #REQUIRED
  path   CDATA #REQUIRED
  prev   CDATA #REQUIRED
>
